@tailwind base; /*Adds base styles (resets, typography normalization*/

@tailwind components; /*For any pre-built UI components, Tailwind might offer*/

@tailwind utilities; /*Gives you access to all the utility classes like bg-red-500, flex, etc.*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark theme*/
  --background: 30 30 33;
  --card: 48 48 53;
  --primary: 223 223 228;
  --secondary: 179 179 180;
  --green: 111 175 142;
  --yellow: 201 169 106;
  --red: 196 106 106;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  color: #dfdfe2;
}
